.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em;
}
.flex{
  display: flex;
}
.filterr{
  background: #4868E4;
  border-radius: 10px;
  padding: 5%;
  color: aqua;
}
.text-white{
  /* background: white; */
  color: #fff;
}
.black-t{
  color: black;
}
.list{
  width: 100%;
  margin-bottom: 0%;
  margin-top: -10px;
  border-radius: 20px;
}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  padding: 0% 1%;
  width: 90%;
  /* font-family: "Roboto", sans-serif; */
  /* color: white; */
}

.types {
  display: inline-block;
  background-color: #6F97F2;
  padding: 5px 10px;
  margin-right: 10px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 9%;
}

.filters {
  margin-bottom: 1em;
  margin-right: 40%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #51d3a5;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.ajust{
  background-size: cover;
  /* background: red; */
  height: 180px;
  width: 180px;
  z-index: 50;
  /* margin-bottom: 20px; */
}

.Poison{
  background-color: darkgreen;
}

.Grass{
  background-color: greenyellow;
}

.Fire{
  background-color: red;
}

.Flying{
  background-color: aqua;
}

.Water{
  background-color: blue;
}

body {
  background-image: url("https://pokecompany.com/images/vhrf/guia/guia4/1.png");
  background-repeat: repeat;
  background-size: contain;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQ9-MObRV-EiZ5xMGs9dh88hOwcGgY4y9vuA&usqp=CAU"); */
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
